<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiregdev.sipepikeling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".splash_screen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".activity.RSActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Rumah Sehat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".activity.DAMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Depot Air Minum"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".jenis_sab"
            android:label="Jenis SAB" />
        <activity
            android:name=".sab_pompa"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Jenis Pompa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".sab_sumur_gali"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Jenis Sumur Gali"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".sab_sumur_gali_plus"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Jenis Sumur Gali Plus"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".jenis_ttu"
            android:label="Jenis TTU" />
        <activity
            android:name=".ttu_ibadah"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Tempat Ibadah"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".tpm_retoran"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Tempat Makan"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".jenis_tpm"
            android:label="Jenis TPM" />
        <activity
            android:name=".pkl"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Pelayanan Kesling"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity
            android:name=".activity.ttu_pasar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Inspeksi Pasar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden" />
        <activity android:name=".activity.tpm_jasaboga"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Pengawasan Jasa Boga"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
    </application>

</manifest>